<p id="notice"><%= notice %></p>

<% if @user.id == current_user&.id %>
  <p> It's YOUR PAGE!</p>
<% end %>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @user.surname %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.printable_gender %>
</p>

<%= link_to 'Back', users_path %>
